html {
	font-size: 14px;
	font-family: 'Gowun Dodum', sans-serif;
	line-height: 1.75em;
}

body {
	margin: 0;
	padding-top: 53px;
	background-color: #ffffff;
}

a {
	text-decoration: none;
	color: #c91fff;
}