.big-mono {
	font-family: 'Major Mono Display', monospace;
	font-weight: 400 !important;
	text-transform: lowercase !important;
}

.mono {
	font-family: 'Cutive Mono', monospace;
}

body, #home a {
	color: #9acd32;
}

#home {
	font-size: 30px;
	font-family: 'Major Mono Display', monospace;
}

#site-header {
	padding-bottom: 10px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}