body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #000;
}
.loading-group {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #60b4b6;
	width: 400px;
	height: 400px;
}
.loading-group > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading-group > div > div {
	background-color: #fff;
}
.dot-loading {
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
	animation: rotate 1s infinite;
}
.box-loading {
	height: 100px;
	background-color: rgba(0, 0, 0, 0);
}
.dot-loading > div {
	margin: 0 10px;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}
.box-loading > div {
	margin: 0 3px;
	width: 7px;
	height: 30px;
	animation: dance-box 1s ease-out infinite;
}
.box-loading > div:nth-child(1) {
	animation-delay: 0.1s;
}
.box-loading > div:nth-child(2) {
	animation-delay: 0.2s;
}
.box-loading > div:nth-child(3) {
	animation-delay: 0.3s;
}
.box-loading > div:nth-child(4) {
	animation-delay: 0.4s;
}
.box-loading > div:nth-child(5) {
	animation-delay: 0.5s;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
@keyframes dance-box {
	0%, 50% {
		transform: scaleY(1);
	}
	25% {
		transform: scaleY(2);
	}
}